extends ../layouts/common
block content
  nav(class="nav navbar-expand-lg navbar-light bg-light")
    a(href="/books" class="nav-link") Books
    a(href="/users" class="nav-link") Users
    a(href="/transactions" class="nav-link") Transactions
  h2 Update User
  p
    b Name
    span= user.email
  form(action="/users/"+user.email+"/update" method="POST")
    input(type="text" name="name" class="form-control")
    button(class="btn btn-primary") Update